@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin transition($transition-property, $transition-time, $method) {
    @include vendorize(transition,$transition-property $transition-time $method)
}

@mixin transform($scale, $rotate, $trans-x, $trans-y, $skew-x, $skew-y){	
	@include vendorize(transform,scale($scale) rotate($rotate) translate($trans-x, $trans-y) skew($skew-x, $skew-y))
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		@include vendorize(box-shadow,inset $left $top $blur $color)
	} @else {
		@include vendorize(box-shadow,$left $top $blur $color)
	}
}

@mixin text-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		@include vendorize(text-shadow,inset $left $top $blur $color)
	} @else {
		@include vendorize(text-shadow,$left $top $blur $color)
	}
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}
